body{
        
    background-color: #eee;
    height: 100vh;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h1{
    text-align: center;
    color: black;
}
input{
    width: 65%;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: inherit;
    border: 3px solid black;
}
button{
    padding: 7px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.9);
    width:20%;
    font-size: large;
    
}
button:active{
    background-color: white;
    color: purple;
}
div{
    color: white;
    margin-left: -40px;
     
}
ul{
    list-style: none;
    width: 80%;  
   
}
li{
    
    background-color: white;
    color:black;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.9);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: 2s;
}
li:active{
    background:rgba(0,0,0,0.5);
    color: white;
    transition: 0.73s;
  
}
ul button{
    float: right;
    padding: 1px;
    width:30px;
    background-color: black;
    color: white;
    margin-top: -5px;
    border: 1px solid black;
    box-shadow: none;
}
ul button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.9);
    transition: 1.2s;
}